/* =============================================================================
   MAIN
   ========================================================================== */
#main section{
    width:878px; /* Added by 310 px */
}


/* =============================================================================
   COMMENT STYLING
   ========================================================================== */

.comment-content{
    width:808px;
}

.depth-2 .comment-content{
    width: 738px;
}

.depth-3 .comment-content{
    width: 668px;
}

.depth-4 .comment-content{
    width: 598px;
}

.depth-5 .comment-content{
    width: 528px;
}
